################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CloudDragonLib/.vs/CloudDragonLib/FileContentIndex/c59acd4c-d664-4a93-95c8-7ec8e0d904d9.vsidx
